
@font-face {
    font-family: 'LeMurmure';
    src: url('fonts/le-murmure.otf');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
}

.ib {
  display: inline-block;
}
.w100 {
  width: 100%;
}
.w90 {
  width: 90%;
}
.w50 {
  width: 50%;
}
.w40 {
  width: 40%;
}
.w20 {
  width: 20%;
}
.w10 {
  width: 10%;
}
.h15 {
  height: 15vw;
}
.h20 {
  height: 20vw;
}
.h50 {
  height: 50vw;
}
.oh {
  overflow: hidden;
}
.tal {
  text-align: left;
}
.bc {
  background-color: #FFD600;
}

.content {
  width:100vw;
  height: 10vw;

}
.header {

  font-family: arial;
  font-size: 2.4vw;
  color: #fff;
  font-weight: 500;
  margin-top: 4vw;
  margin-left: 2vw;
}

.header2 {

  font-family: arial;
  font-size: 2.4vw;
  color: #fff;
  font-weight: 500;
  text-align: right;
  margin-top: 4vw;
  margin-right: 4vw;
}

.container {
  width:40vw;
  height: 15vw;
}
.container2 {
  width:60vw;
  height: 15vw;
}

.information {
  text-align: right;
  font-family: arial;
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  white-space: pre-wrap;
  margin-top: 4vw;
  padding-right: 1vw;
}

.framelogo {
  background-color: blue;
}





.vertical_text
 {
  font-family: "LeMurmure";
  font-size: 15vw;
  color: #fff;
  border: 1px solid red;
  transform: rotate(90deg);
  margin-left: -40vw;
  margin-top: -15vw;
/*  ;
  overflow: hidden; */

}
.horisontal_text {
  font-family: "LeMurmure";
  font-size: 15vw;
  text-align: left;
  color: #fff;
  width: 200vw;
  height: 200vw;
}

.vertical_text_frameforth {
  font-family: "LeMurmure";
  font-size: 15vw;

  color:  #fff;
  border: 1px solid red;
  transform: rotate(90deg);
  margin-left: 10vw;
  margin-top: -10vw;
}

.vertical_text_frameninth {
  font-family: "LeMurmure";
  font-size: 15vw;

  color:  #fff;
  border: 1px solid red;
  transform: rotate(90deg);
  margin-left: 10vw;
  margin-top: -15vw;
}






@keyframes moving {
  from {top: -1000px;}
  to {top: 20px;}
}


.animation_framefirst {
  position: relative;
  animation: moving 20s infinite;
  animation-direction: alternate-reverse;
}


@keyframes mymove {
  from {left: -1000px;}
  to {left: 20px;}
}

.animation_framesecond {
  position: relative;
  animation: mymove 2s infinite;
  animation-direction: alternate;

}


@keyframes moveright {
  from {right: -1000px;}
  to {right: 20px;}
}

.animation_framethird {
  position: relative;
  animation: moveright 9s infinite;
  animation-direction: alternate-reverse;
  margin-left: -100vw;
}

@keyframes yellow_box {
  from {height: 10vw;}
  to {height: 20vw;}
}

.animation_yellowbox {
  position: relative;
  animation: yellow_box 5s infinite;
  animation-direction: normal;
}

@keyframes yellow_box2 {
  from {height: 10vw;}
  to {height: 15vw;}
}

.animation_yellowbox2 {
  position: relative;
  animation: yellow_box2 5s infinite;
  animation-direction: normal;
}

@keyframes yellow_box3 {
  from {height: 10vw;}
  to {height: 20vw;}
}


.animation_yellowbox3 {
  position: relative;
  animation: yellow_box3 5s infinite;
  animation-direction: normal;
}






.yellow_box {
  width: 10vw;
  height:10vw;
  background-color: #FFD600;
}

.yellow_box_2 {
  width: 10vw;
  height:10vw;
  background-color: #FFD600;

}

  .yellow_box_3 {
    width: 10vw;
    height:10vw;
    background-color: #FFD600;

  }

  .yellow_box_4 {
    width: 10vw;
    height:10vw;
    background-color: #FFD600;


  }
  .yellow_box_5 {
    width: 10vw;
    height:10vw;
    background-color: #FFD600;

  }
